---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$sans-font-family: Roboto, "Arial", sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #252525;
$link-color:       #de4d00;
$background-color: #fff;
$brand-color:      #de4d00;
$contrast-color:   #ffffcc;

$grey-color:       #535A58;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

.site-header {
    background-color: #de4d00;
    text-color: #fff;
    link-color: $contrast-color;
    page-link: $contrast-color;
    margin-bottom: 0px;
}

div.announce {
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: $brand-color;
  box-shadow: 3px 3px 3px $grey-color;
  padding: $spacing-unit/2;
  background-color:lighten($contrast-color, 5%);
  margin: auto;
  margin-top: $spacing-unit/2;
  margin-bottom: $spacing-unit/2;
  width: 90%;

}

.hero-image-main {
  margin: -15px -15px 20px -15px;
  background-color: $grey-color;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  margin: -15px -15px 20px -15px;
  background-color: $grey-color;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: $brand-color;
  font-weight: 900;
  text-shadow: 1px 1px 2px $contrast-color;
}

.socmedia {
  float:right;
  margin-top: 10px;
  padding-right: 30px;
  color: $brand-color;
  line-height: 2em;
  font-size: 14px;
  font-family: $sans-font-family;
  font-weight: bold;
  font-variant: small-caps;
  text-shadow: 1px 1px 4px $grey-color-light;
}

.home {
background: #fff;
padding: $spacing-unit/2
}

.post {
background: #fff;
padding: $spacing-unit/2
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hr {
       display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 600px;
       max-height: 0;
       font-size: 1px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 1px solid $brand-color;
       border-bottom: 1px solid $brand-color;
    }


// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from the `whiteglass` theme.
@import "whiteglass";
