/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  margin-bottom: 0px;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;
  padding-right: 20px;
  display: block;

  .page-link {
    font-family: $sans-font-family;
    color: #ffffff;
    line-height: $base-line-height;
    text-shadow: 1px 1px 3px $grey-color;
    font-weight: bolder;
    font-size: 15px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @include media-query($on-palm) {
    .page-link {
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Accordions
 */
// General
input.accordionInput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordion {
  overflow: hidden;
}

.accordTab {
  width: 100%;
  color: white;
  overflow: hidden;
  /* Tab Label */
  &-label {
    display: flex;
    padding: $spacing-unit/2;
    margin: 0px;
    justify-content: space-between;
    background: $grey-color-light;
    color: $brand-color;
    font-family: $sans-font-family;
    font-weight: bolder;
    cursor: pointer;
    /* Icon */
    &:hover {
      color: $contrast-color;
      background:$grey-color;
      text-shadow: none;
        }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  /* Content container DIV */
  &-content {
    padding: $spacing-unit/2;
    max-height: 0px;
    color: $grey-color;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    background: $grey-color-light;
    cursor: pointer;
    &:hover {
      color: $grey-color;
    }
  }
}

// :checked input (to open)
input.accordionInput:checked {
  + .accordTab-label {
    background: $grey-color;
    color: $contrast-color;
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordTab-content {
    max-height: 100%;
  }
}


/**
 * Bio Divs
 */
.biobox {
overflow: auto;
background-color: lighten($grey-color-light, 20%);
padding: 10px;
border-radius: 8px;
margin-bottom: 10px;

}

.biotitle {
  color: $brand-color;
  font-weight: bolder;
}

.biopic {
  margin-right: 10px;
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px $grey-color;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  background: $grey-color-dark;
  font-size: 15px;
  color: $grey-color-light;
  text-align: left;
  margin-top: $spacing-unit * -1;
}



/**
 * Page content
 */
.page-content {
  margin-top: 0px;
  padding: $spacing-unit 0;
  padding-top: 0px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-link:hover {
    text-decoration: none;
  }

  > li {
    margin-bottom: $spacing-unit * 2;

    &:not(:first-child) {
      border-top: 4px solid $grey-color-light;
      padding-top: $spacing-unit * 2;
    }
  }
}

/** Podcasts Supplements
*/
.seasonplayer {
  margin-bottom: 10px;
}
.seasonplayer:after{
content:"";
display:block;
clear:both;}

.supplement {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: $spacing-unit 0;
  padding-top: 0px;
  border-top: 2px solid $grey-color-light;
}

.supplement-title {
  color: $brand-color;
  padding-top: 5px;}

.to-top {
  font-size: 10px;
  float: right;
  color: $brand-color;
  font-weight: bold;
}

.floatsupps:after {
  content:"";
  display:block;
  clear:both;
 }

/**Posts */
.post-archives {
  margin-left: 0;
  list-style: none;

  .post-link {
    color: #fff;
    font-size: 24px;
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  &,
  &:visited {
    color: #fff;
  }

  &:hover {
    color: $brand-color;
  }
}

.post-continue {
  a {
    padding: 8px 15px;
    text-decoration: none;

    &,
    &:visited {
      color: $grey-color;
      background-color: $grey-color-light;
    }

    &:hover {
      color: white;
      background-color: $brand-color;
    }
  }
}

.subscribe {
padding: $spacing-unit;
margin: 0px $spacing-unit / -2 $spacing-unit * -1 $spacing-unit / -2;
background: $grey-color;
text-align: center;
color: $contrast-color;
text-shadow: 2px 2px 2px $grey-color-dark;
font-size: 20px;
font-family: $sans-font-family;
font-weight: bolder;
}

.subscribemini {
margin: 0px $spacing-unit / -2 $spacing-unit $spacing-unit / -2;
background: $grey-color;
text-align: center;
color: $contrast-color;
text-shadow: 2px 2px 2px $grey-color-dark;
font-size: 20px;
font-family: $sans-font-family;
font-weight: bolder;
}

button {
background: $brand-color;
box-shadow: 4px 4px 4px $grey-color-dark;
color: $contrast-color;
cursor: pointer;
border-radius: 5px;
text-decoration: none;
padding: 10px;
font-size: 15px;
font-weight: 500;
border: 1px solid $contrast-color;
}

button:hover {
color: $brand-color;
background: $grey-color;}

.podimage {
margin: 10px;
}

.seasonheader {
  margin: -15px -15px 20px -15px;
  background-color: $grey-color;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: left;}

.seasonheader-text{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: $contrast-color;
  text-shadow: 1px 1px 2px $contrast-color;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;


  h1 {
    font-size: 38px;

    @include media-query($on-laptop) {
      font-size: 34px;
    }
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }

    h5 {
      font-size: 26px;
      color: $brand-color;
      font-style: italic;

      @include media-query($on-laptop) {
        font-size: 26px;
      }
  }
}



/**
 * Pagination
 */
.pagination {
  padding: $spacing-unit / 2 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  text-align: center;
  @extend %clearfix;

  a {
    &,
    &:visited {
      color: $grey-color;
    }

    &:hover {
      color: $brand-color;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
}
